<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--<property name="HOME_LOG" value="${user.dir}/logs/WARSZTATY.Warsztat_7_LOGOWANIE.P8_Logowanie_Logback_RollingFile.log"/>-->
    <property name="HOME_LOG_ROLLING" value="${user.dir}/logs/W8_P8_UnitTests.log"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss} [%t] %-5level %logger{50}:%method:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG_ROLLING}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/archived/P8_Logowanie_Logback_RollingFile.%d{yyyy-MM-dd-HH-MM-SS}.%i.log.gz
            </fileNamePattern>
            <maxFileSize>4mb</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>50</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss} [%t] %-5level %logger{50}:%method:%line - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>

<!--
<configuration>
<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
<encoder>
<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
</encoder>
</appender>
<root level="WARN">
<appender-ref ref="CONSOLE"/>
</root>
</configuration>
-->